<template>
  <div class="aniSched">
    <div v-if="items === null" class="loading">
      <div>Chargement...</div>
    </div>
    <div v-else-if="items.length === 0" class="none">
      <div>
        <a
          :href="`${baseUrl}/#${today}`"
          target="_blank">
          Pas de diffusion d'anime aujourd'hui.
        </a>
      </div>
    </div>
    <ul v-else>
      <li
        v-for="item in items"
        :key="item.id"
        class="item">
        <span class="time">{{ getTime(item.airingAt) }}</span>
        <a
          :href="getUrl(item.notes)"
          class="title"
          target="_blank">
          {{ item.media.title.english || item.media.title.romaji }}
        </a>
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  name: 'aniSched',
  data () {
    return {
      items: null,
      today: null,
      baseUrl: 'https://kdy.ch/aniSched'
    }
  },
  mounted () {
    this.today = (new Date()).getDate()

    fetch(this.baseUrl + '/shows.json?v=' + Date.now())
      .then(r => r.json())
      .then(j => {
        this.items = []
        j.airing.forEach(e => {
          if ((new Date(e.airingAt * 1000)).getDate() === this.today) {
            this.items.push(e)
          }
        })
      })
  },
  methods: {
    pad (num) {
      return num < 10 ? `0${num}` : num
    },
    getTime (ts) {
      const t = new Date(ts * 1000)
      return this.pad(t.getHours()) + ':' + this.pad(t.getMinutes())
    },
    getUrl (note) {
      const regex = /malSync::(.*)::/
      let m
      if ((m = regex.exec(note)) !== null) {
        // The result can be accessed through the `m`-variable.
        const d = atob(m[1])
        if (d.charAt(0) === '{') {
          return JSON.parse(d).u
        }
        return d
      }
      return `${this.baseUrl}/#${this.today}`
    }
  }
}
</script>

<style lang="scss">
.aniSched {
  .none {
    a {
      color: inherit;
      text-decoration: none;
    }
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .item {
    &:not(:last-of-type) {
      margin-bottom: .3rem;
    }

    .time {
      background-color: var(--badge-color);
      border-radius: .25rem;
      font-size: .7rem;
      font-weight: bold;
      margin-right: 5px;
      padding: .25em .4em;
      text-align: center;
      vertical-align: .1rem;
      white-space: nowrap;
    }

    .title {
      color: inherit;
      text-decoration: none;
    }
  }
}
</style>
