<template>
  <div class="feed">
    <div v-if="items === null" class="loading">
      <div>Chargement...</div>
    </div>
    <quote
      v-else-if="items.length === 0" />
    <ul v-else>
      <li
        v-for="item in items"
        :key="item.id"
        class="item">
        <span class="source">{{ item.source }}</span>
        <a
          :href="item.link"
          class="title"
          target="_blank">
          {{ item.title }}
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
import Quote from './Quote.vue'

export default {
  name: 'feed',
  components: {
    Quote
  },
  data () {
    return {
      items: null
    }
  },
  mounted () {
    this.fetchData()
    setInterval(this.fetchData, 5 * 60 * 1000)
  },
  methods: {
    fetchData () {
      fetch('https://kdy.ch/rss.json?v=' + Date.now())
        .then(r => r.json())
        .then(j => {
          this.items = j
        })
    }
  }
}
</script>

<style lang="scss">
.feed {
  -ms-overflow-style: none;
  display: flex;
  flex-flow: column;
  flex: 1;
  overflow-y: auto;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  .loading {
    min-height: 50px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .item {
    &:not(:last-of-type) {
      margin-bottom: .3rem;
    }

    .source {
      background-color: var(--badge-color);
      border-radius: .25rem;
      font-size: .7rem;
      font-weight: bold;
      margin-right: 5px;
      padding: .25em .4em;
      text-align: center;
      vertical-align: .1rem;
      white-space: nowrap;
    }

    .title {
      color: inherit;
      text-decoration: none;
    }
  }
}
</style>
