<template>
  <div class="links">
    <a href="https://rss.do.kdy.ch/">RSS</a>
    <a href="https://im-in.space/deck/public/local">Mastodon</a>
    <a href="https://tweetdeck.twitter.com/">Tweetdeck</a>
    <br/>
    <a href="https://mona.kdy.ch">Mona</a>
    <a href="https://node.radiobrony.fr/admin/panel/">RB Panel</a>
    <a href="https://pod.radiobrony.fr/sync/meta/">RB Sync</a>
    <br/>
    <a href="https://boards.4channel.org/co/">/co/</a>
    <a href="https://boards.4channel.org/g/">/g/</a>
    <a href="https://boards.4channel.org/vmg/">/vmg/</a>
    <a href="https://boards.4channel.org/vt/">/vt/</a>
    <a href="https://boards.4channel.org/wsg/">/wsg/</a>
  </div>
</template>

<script>
export default {
  name: 'links'
}
</script>

<style lang="scss">
.links {
  margin-top: 1em;
  text-align: center;

  a,
  a:visited {
    background-color: #000;
    border-radius: 35px;
    border: #000 1px solid;
    color: #fff;
    display: inline-block;
    margin: 2px;
    padding: 6px 12px;
    text-decoration: none;
    transition: all .2s ease-in-out;

    &:hover {
      background: transparent;
      border: #fff 1px solid;
    }
  }
}
</style>
