<template>
  <div class="quote">
    <p class="text">
      “{{ quote.text }}”
    </p>
    <p class="character">
      – {{ quote.character }}
    </p>
    <div
      :style="{
        'background-image': `url(${quote.imgSizes.large}`
      }"
      class="img" />
  </div>
</template>

<script>
export default {
  name: 'quote',
  data () {
    return {
      quote: {
        text: '',
        character: '',
        imgSizes: {
          large: ''
        }
      }
    }
  },
  mounted () {
    this.fetchData()
    setInterval(this.fetchData, 5 * 60 * 1000)
  },
  methods: {
    fetchData () {
      fetch('https://quotes.kody.workers.dev/random')
        .then(r => r.json())
        .then(j => {
          this.quote = j
        })
    }
  }
}
</script>

<style lang="scss">
.quote {
  display: flex;
  flex-direction: column;
  flex: 1;

  .text {
    margin-bottom: 0;
  }

  .character {
    margin-top: 0;
    text-align: right;
  }

  .img {
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    flex-grow: 1;
  }
}
</style>
