<template>
  <div class="search">
    <div class="search-web search-box">
      <input
        data-id="web"
        data-url="https://google.com/search?q=%s"
        data-autocomplete="http://suggestqueries.google.com/complete/search?client=firefox&hl=en&q=%s"
        placeholder="Web" autocomplete="off" type="text"
        @keyup.enter="search"
        @keyup.esc="closeAutocomplete(true)"
        @keyup="startAutocomplete"
        @blur="closeAutocomplete(false)" />
    </div>

    <div class="search-youtube search-box">
      <input
        data-id="youtube"
        data-url="https://www.youtube.com/results?search_query=%s"
        data-autocomplete="http://suggestqueries.google.com/complete/search?client=firefox&hl=en&ds=yt&q=%s"
        placeholder="YouTube" autocomplete="off" type="text"
        @keyup.enter="search"
        @keyup.esc="closeAutocomplete(true)"
        @keyup="startAutocomplete"
        @blur="closeAutocomplete(false)" />
    </div>

    <div class="search-github search-box">
      <input
        data-id="github"
        data-url="https://github.com/search?q=%s"
        placeholder="GitHub" autocomplete="off" type="text"
        @keyup.enter="search" />
    </div>

    <div
      v-if="autocompleteFor !== null && autocomplete[autocompleteFor].list.length > 0"
      class="autocomplete"
      :style="autoPos"
      :data-for="autocompleteFor">
      <ul>
        <li
          v-for="t in autocomplete[autocompleteFor].list"
          :key="t"
          :data-value="t"
          @click="pickAutocomplete">
          {{ t }}
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
export default {
  name: 'search',
  data() {
    return {
      autocomplete: {
        web: {
          ts: 0,
          list: []
        },
        youtube: {
          ts: 0,
          list: []
        }
      },
      autocompleteFor: null,
      autocompleteWait: null
    }
  },
  methods: {
    // Function to launch a search
    search (e) {
      window.location = el.target.dataset.url.replace('%s', e.target.value)
    },
    // Start autocomplete
    startAutocomplete (e) {
      clearTimeout(this.autocompleteWait)
      const src = e.target.dataset.id
      const query = e.target.value
      const ts = Date.now()
      this.autocompleteFor = e.target.dataset.id

      this.autocompleteWait = setTimeout(() => {
        fetch('https://s.kdy.ch/cors/?' + e.target.dataset.autocomplete.replace('%s', query))
          .then(r => r.json())
          .then(j => {
            if (this.autocomplete[src].ts < ts && query === j[0]) {
              this.autocomplete[src].list = j[1]
            }
          })
      }, 500)
    },
    // Close the autocomplete
    closeAutocomplete (now) {
      setTimeout(() => {
        this.autocompleteFor = null
      }, now ? 0 : 250)
    },
    // Launch search from the list
    pickAutocomplete (e) {
      const searchInput = document.querySelector(`input[data-id="${this.autocompleteFor}"]`)
      window.location = searchInput.dataset.url.replace('%s', e.target.dataset.value)
    }
  },
  computed: {
    autoPos () {
      const el = document.querySelector(`input[data-id="${this.autocompleteFor}"]`)

      if (el) {
        return {
          top: (el.offsetTop + el.clientHeight / 2) + 'px',
          width: (el.clientWidth + 2) + 'px'
        }
      }
    }
  }
}
</script>

<style lang="scss">
@mixin search($input-color) {
  &.search-box {
    input {
      border: $input-color solid 1px;

      &:focus {
        background: $input-color;
      }
    }
  }
}

@mixin autocomplete($input-color) {
  background: $input-color;
  border: $input-color solid 1px;
}

.search {
  width: 100%;
  
  .search-box {
    margin-top: 0.5em;
    width: 100%;

    input {
      background: transparent;
      border-radius: 35px;
      box-sizing: border-box;
      color: #000;
      cursor: pointer;
      outline: none;
      padding: 12px 20px;
      position: relative;
      transition: all .2s ease-in-out;
      transition-delay: .25s;
      width: 100%;

      &::placeholder {
        color: #fff;
        opacity: 1;
        text-align: right;
        transition: all .2s ease-in-out;
      }

      &:focus {
        color: #fff;
        transition-delay: 0s;

        &::placeholder {
          opacity: .8;
        }
      }
    }
  }

  &-web {
    @include search(#8360c3);
    input {
      z-index: 30;
    }
  }

  &-youtube {
    @include search(#ff0000);
    input {
      z-index: 20;
    }
  }

  &-github {
    @include search(#000);
    input {
      z-index: 10;
    }
  }

  .autocomplete {
    border-radius: 0 0 35px 35px;
    box-sizing: border-box;
    color: #fff;
    position: fixed;

    &[data-for="web"] {
      @include autocomplete(#8360c3);
      z-index: 25;
    }

    &[data-for="youtube"] {
      @include autocomplete(#ff0000);
      z-index: 15;
    }

    &[data-for="github"] {
      @include autocomplete(#000);
      z-index: 5;
    }

    ul {
      list-style: none;
      padding: 0.5rem 1rem 0;

      li {
        padding: 1px 0;cursor: pointer;
      }
    }
  }
}
</style>
