<template>
  <div class="transports">
    <div v-if="home === null || work === null" class="loading">
      <div>Chargement...</div>
    </div>
    <template v-else>
      <div class="home">
        Rentrer chez soi:
        <ul>
          <li
            v-for="c in home.slice(0, 3)"
            :key="c.from.departureTimestamp"
            :title="sections(c)">
            <span v-if="c.products[0]" :data-p-id="c.products[0]" class="product">
              {{ c.products[0] }}<small v-if="c.products.length > 1">+</small>
            </span>
            {{ getTime(c.from.departureTimestamp) }} -
            {{ getTime(c.to.arrivalTimestamp) }}
          </li>
        </ul>
      </div>
      <div class="work">
        Aller bosser:
        <ul>
          <li
            v-for="c in work.slice(0, 3)"
            :key="c.from.departureTimestamp"
            :title="sections(c)">
            <span v-if="c.products[0]" :data-p-id="c.products[0]" class="product">
              {{ c.products[0] }}<small v-if="c.products.length > 1">+</small>
            </span>
            {{ getTime(c.from.departureTimestamp) }} -
            {{ getTime(c.to.arrivalTimestamp) }}
          </li>
        </ul>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  name: 'transports',
  data () {
    return {
      home: null,
      work: null
    }
  },
  mounted () {
    this.fetchData()
    setInterval(this.fetchData, 5 * 60 * 1000)
  },
  methods: {
    fetchData () {
      this.getFetch('Sion, Rue de Lausanne 15', 'Sion, Rte du Manège 61a')
        .then(r => r.json())
        .then(j => {
          this.home = j.connections.filter(c => c.products.length > 0)

          // In case something went wrong, try without filter...
          if (this.home.length < 1) {
            this.home = j.connections
          }
        })

      this.getFetch('Sion, Rte du Manège 61a', 'Sion, Rue de Lausanne 15')
        .then(r => r.json())
        .then(j => {
          this.work = j.connections.filter(c => c.products.length > 0)

          // In case something went wrong, try without filter...
          if (this.work.length < 1) {
            this.work = j.connections
          }
        })
    },
    getFetch (from, to) {
      // Switch to my self-hosted instance if opendata.ch is offline
      return fetch(`https://transport.opendata.ch/v1/connections?from=${encodeURI(from)}&to=${encodeURI(to)}&limit=5&direct=1`)
      // return fetch(`https://transport.do.kdy.ch/v1/connections?from=${encodeURI(from)}&to=${encodeURI(to)}&limit=5&direct=1`)
    },
    getTime (ts) {
      function padZero (n) {
        if (n < 10) return '0' + n
        return n
      }

      const d = new Date(ts * 1000)
      const h = padZero(d.getHours())
      const m = padZero(d.getMinutes())
      return h + ':' + m
    },
    sections (c) {
      const journeys = []
      c.sections.forEach(s => {
        if (s.walk === null) { // Don't show walk sections
          journeys.push(`[${s.journey?.number || '?'}] ${s.departure.station.name} (${this.getTime(s.departure.departureTimestamp)}) - (${this.getTime(s.arrival.arrivalTimestamp)}) ${s.arrival.station.name}`)
        }
      })
      return journeys.join('\n')
    }
  }
}
</script>

<style lang="scss">
.transports {
  display: flex;
  justify-content: space-between;

  .loading {
    flex-grow: 1;
    height: 86.19px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin-top: 1px;
    }

    .product {
      background-color: yellow;
      color: #000;
      display: inline-block;
      padding: 0 2px;
      text-align: center;
      width: 35px;

      &[data-p-id='1'],
      &[data-p-id='11'] {
        background-color: #f5a5c9;
        color: #fff;
      }

      &[data-p-id='2'],
      &[data-p-id='12'] {
        background-color: #09bef2;
        color: #fff;
      }

      &[data-p-id='3'],
      &[data-p-id='13'] {
        background-color: #807d57;
        color: #fff;
      }

      &[data-p-id='4'] {
        background-color: #f4846d;
        color: #fff;
      }

      &[data-p-id='5'],
      &[data-p-id='14'] {
        background-color: #00a54f;
        color: #fff;
      }

      &[data-p-id='411'] {
        background-color: #808285;
        color: #fff;
      }

      &[data-p-id='371'],
      &[data-p-id='372'] {
        background-color: #d32229;
        color: #fff;
      }
    }
  }
}
</style>
