<template>
  <div class="twitch-live">
    <div v-if="items === null" class="loading">
      <div>Chargement...</div>
    </div>
    <div v-else-if="items.length === 0" class="loading">
      Nobody live :(
    </div>
    <ul v-else>
      <li
        v-for="item in items"
        :key="item.id"
        class="item">
        <a
          :href="'https://www.twitch.tv/' + item.user_login"
          :title="`(${item.game_name}) ${item.title}`"
          target="_blank">
          <span class="source">{{ item.user_name }}</span>
          {{ item.title }}
        </a>
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'twitch-live',
  data () {
    return {
      items: null
    }
  },
  mounted () {
    this.fetchData()
    setInterval(this.fetchData, 5 * 60 * 1000)
  },
  methods: {
    fetchData () {
      fetch('https://s.kdy.ch/twitchlive/?v=' + Date.now())
        .then(r => r.json())
        .then(j => {
          this.items = j.data
        })
    }
  }
}
</script>

<style lang="scss">
.twitch-live {
  -ms-overflow-style: none;
  display: flex;
  flex-flow: column;
  max-height: 90px;
  overflow-y: auto;
  scrollbar-width: none;

  @media screen and (max-width: 800px) {
    max-height: initial;
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .loading {
    min-height: 90px;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .item {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    &:not(:last-of-type) {
      margin-bottom: .3rem;
    }

    .source {
      background-color: var(--badge-color);
      border-radius: .25rem;
      font-size: .7rem;
      font-weight: bold;
      padding: .25em .4em;
      text-align: center;
      vertical-align: .1rem;
      white-space: nowrap;
    }

    a {
      color: inherit;
      text-decoration: none;
    }
  }
}
</style>
