<template>
  <div class="weather">
    <div v-if="w === null" class="loading">
      <div>Chargement...</div>
    </div>
    <template v-else>
      <div class="current">
        <!--
        <img
          :src="w.current_condition.icon"
          :title="w.current_condition.condition">
        -->
        <i
          :class="[ 'wi', wim(w.current_condition.condition_key) ]"
          :title="w.current_condition.condition"></i>
        <div>
          <b>{{ w.city_info.name }}</b><br>
          <span class="cond">{{ w.current_condition.condition }}</span>
          - <span class="temp">{{ w.current_condition.tmp }}°C</span><br>
          <span class="sun">
            <i
              class="wi wi-horizon-alt"
              title="Levé/Couché du Soleil"></i>
            {{ w.city_info.sunrise }} ~ {{ w.city_info.sunset }}
          </span>
        </div>
      </div>
      <div class="toggleHourly">
        <i @click="showHourly = !showHourly" class="wi wi-time-2" title="Journalier/Horaire"></i>
      </div>
      <div v-if="hourly.length > 0 && showHourly" class="hourly">
        <div
          v-for="h in hourly.slice(0, 5)"
          :key="h.hour">
          {{ h.hour }}h<br>
          <i
            :class="[ 'wi', wim(h.data.CONDITION_KEY) ]"
            :title="h.data.CONDITION"></i><br>
          <!--
          <img
            :src="h.data.ICON"
            :title="h.data.CONDITION"><br>
          -->
          {{ h.data.TMP2m }}°C
        </div>
      </div>
      <div v-else-if="days.length > 0" class="days">
        <div
          v-for="d in days"
          :key="d.day_short">
          {{ d.day_short }}<br>
          <i
            :class="[ 'wi', wim(d.condition_key) ]"
            :title="d.condition"></i><br>
          <!--
          <img
            :src="d.icon"
            :title="d.condition"><br>
          -->
          {{ d.tmin }}, {{ d.tmax }}°C
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import 'weather-icons/css/weather-icons.min.css'
import { weatherIconMapping } from './weatherIconMapping.js'

export default {
  name: 'weather',
  data () {
    return {
      w: null,
      hourly: [],
      days: [],
      showHourly: false
    }
  },
  mounted () {
    fetch('https://www.prevision-meteo.ch/services/json/sion-vs')
      .then(r => r.json())
      .then(j => {
        this.w = j

        // Get daily forecast
        for (const [k, v] of Object.entries(j)) {
          if (k.substring(0, 8) === 'fcst_day') {
            this.days.push(v)
          }
        }

        // Get hourly forecast
        const curr = (new Date()).getHours()
        for (const [h, d] of Object.entries(j.fcst_day_0.hourly_data)) {
          if (parseInt(h.split('H')[0]) > curr) {
            this.hourly.push({
              hour: h.split('H')[0],
              data: d
            })
          }
        }
        // Add for the next day too so we still have more data after 7pm
        for (const [h, d] of Object.entries(j.fcst_day_1.hourly_data)) {
          this.hourly.push({
            hour: h.split('H')[0],
            data: d
          })
        }

        // Save sunrise/sunset for welcome message
        try {
          localStorage.setItem('sr', j.city_info.sunrise.replace(':', ''))
          localStorage.setItem('ss', j.city_info.sunset.replace(':', ''))
        } catch (err) {
          console.log('Can\'t save sunrise/sunset in localStorage', err)
        }
      })
  },
  methods: {
    wim (key) {
      try {
        return weatherIconMapping[key]
      } catch (_) {
        console.log('[Weather] Icon mapping not found:', key)
        return 'wi-na'
      }
    }
  }
}
</script>

<style lang="scss">
.weather {
  .loading {
    height: 150px;
  }

  .current {
    display: flex;
    align-items: center;

    & > .wi,
    & > img {
      font-size: 2rem;
      margin-right: 1rem;
      min-width: 40px;
    }

    margin-bottom: .5rem;
  }

  .toggleHourly {
    cursor: pointer;
    float: right;
    margin-top: -1.8em;
  }

  .hourly,
  .days {
    display: flex;
    text-align: center;
    justify-content: space-between;
    font-size: .8rem;

    & > div {
      width: 60px;
    }

    .wi,
    img {
      font-size: 1.5rem;
      margin: 0.8rem 0;
      min-height: 24px;
    }
  }
}
</style>
