<template>
  <div id="app">
    <transition name="fade">
      <div
        v-if="showBG"
        :style="{ 'background-image': `url('` + srcBG+  `')` }"
        class="background" />
    </transition>

    <div class="body">
      <h1>{{ welcome }}</h1>
      <h2>{{ time }} @{{ beats }}</h2>
      <search />
      <links />
    </div>

    <transition name="slide">
      <div class="sidebar">
        <weather />
        <hr>
        <transports />
        <hr>
        <twitch-live />
        <hr>
        <ani-sched />
        <hr>
        <feed />
      </div>
    </transition>
  </div>
</template>

<script>
import Search from './components/Search.vue'
import Links from './components/Links.vue'
import Weather from './components/Weather.vue'
import Transports from './components/Transports.vue'
import TwitchLive from './components/TwitchLive.vue'
import AniSched from './components/AniSched.vue'
import Feed from './components/Feed.vue'

export default {
  name: 'app',
  components: {
    Search,
    Links,
    Weather,
    Transports,
    TwitchLive,
    AniSched,
    Feed
  },
  data () {
    return {
      welcome: 'Bonjour, Kody',
      showBG: false,
      srcBG: 'https://h.kdy.ch/bg.php',
      now: new Date()
    }
  },
  mounted () {
    // Set welcome message
    // (make use of our weather data for sunrise and sunset)
    const d = new Date()
    const now = parseInt(`${d.getHours()}${d.getMinutes().toString().padStart(2, '0')}`)
    const sr = parseInt(localStorage.getItem('sr')) || 700
    const ss = parseInt(localStorage.getItem('ss')) || 1900

    if (now < sr || now > ss) {
      this.welcome = 'Bonsoir, Kody'
    }

    // Check if we're not in "work mode"
    if (window.location.hash !== '#w') {
      // Try to preload image and display it when it's ready
      const img = new Image()
      img.onload = _ => {
        this.showBG = true
      }
      img.src = this.srcBG + '?ts=' + Date.now()
    }

    setInterval(() => {
      this.now = new Date()
    }, 500)
  },
  computed: {
    time () {
      return `${this.now.getHours()}:${this.now.getMinutes().toString().padStart(2, '0')}`
    },
    beats () {
      const hours = this.now.getUTCHours()
      const minutes = this.now.getUTCMinutes()
      const seconds = this.now.getUTCSeconds()
      let beats = Math.floor((((seconds + minutes * 60) + (hours + 1) * 3600) / 86.4) * 100) / 100
      if (beats >= 1000) {
        beats -= 1000
      }
      return beats.toFixed(2).padStart(6, '0')
    }
  }
}
</script>

<style lang="scss">
body {
  --badge-color: #3e3e3e;
  margin: 0;
}

.fade-enter-active {
  transition: opacity 1s ease-in-out;
}
.fade-enter-to {
  opacity: 1;
}
.fade-enter {
  opacity: 0;
}

#app {
  align-items: center;
  display: flex;
  flex: 1;
  font-family: 'Avenir', Helvetica, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  height: 100vh;
  justify-content: center;
  width: calc(100% - 300px - 2rem);

  .background {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    content: "";
    height: 100vh;
    left: 0px;
    position: fixed;
    top: 0px;
    width: 100%;
    z-index: -1;
  }

  .body {
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 500px;
    padding: 1em;
    width: 100%;

    h1 {
      margin-bottom: 0;
    }

    h2 {
      margin-top: 0;
      font-weight: normal;
    }
  }

  .sidebar {
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .5);
    color: #fff;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 1rem);
    line-height: 1.3;
    padding: 1rem 1rem 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 300px;

    hr {
      width: 100%;
    }

    .loading {
      align-items: center;
      display: flex;
      justify-content: center;
    }
  }
}

@media screen and (max-height: 650px) {
  #app {
    display: block;
    width: calc(100% - 2rem);

    .sidebar {
      display: none;
    }
  }
}

@media screen and (max-width: 800px) {
  #app {
    display: block;
    width: calc(100% - 1rem);

    .body {
      max-width: initial;
      padding: 2rem 1rem;
    }

    .sidebar {
      height: auto;
      margin-top: 1rem;
      position: initial;
      width: 100%;
    }
  }
}
</style>
